Unrepeatable actions

In [29]:
import numpy as np

In [30]:
names  = (['John', 'Mark','John', 'Smith','Smith'])
names

['John', 'Mark', 'John', 'Smith', 'Smith']

In [31]:
np.unique(names)

array(['John', 'Mark', 'Smith'], dtype='<U5')

In [32]:
set(names)

{'John', 'Mark', 'Smith'}

In [33]:
data1 = np.array([6, 0, 0, 3, 2, 5, 6])
data2 = np.array([0, 2, 3])

In [34]:
np.in1d(data1, data2)

array([False,  True,  True,  True,  True, False, False])

In [35]:
names1  = (['John', 'Mark','John', 'Smith','Smith','Tony'])
names2 = (['John', 'Mark','John', 'Smith', 'Smith','Janey'])

In [36]:
np.setdiff1d(names1,names2)

array(['Tony'], dtype='<U5')